.main {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height:calc(100dvh - 2 * var(--global-padding));
}

.titleContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    color:var(--orange)
}

.menuContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    cursor:pointer;
    text-align: center;
}

.menu {
    height:70vw;
}

.infosContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
}